.City {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  background-color: #dcdbdb;
  margin: 5px 0;
  padding-left: 10px; }
  .City__remove-button {
    outline: none;
    vertical-align: middle;
    text-decoration: none;
    font-weight: bold;
    border: 0px solid transparent;
    cursor: default;
    font-size: 1em;
    color: white;
    background: #e57373; }
  .City__right-block {
    display: flex;
    flex-flow: row nowrap; }
  .City__text {
    margin: 0; }
  .City__temp {
    margin: 0 5px 0 0; }
